body {
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    width: 200px;
    height: 100vh;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    left: -200px;
    transition: left 0.3s ease-in;
    z-index: 1;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .content {
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
    transition: margin-left 0.3s ease-in;
  }
  
  .content.open {
    margin-left: 200px;
  }
  
  .sidebar ul {
    padding-top: 20px; /* Add padding to the top of the sidebar links */
  }
  
  .hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2;
  }
  
  .hamburger-line {
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  
  
  
  nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: #f2f2f2;
  }
  
  
  /* New Order Button CSS */
  
  .button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 40px;
    width: 40px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: #34974d;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #2e8644;
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }
  
  
  